Data/sinhala_phrases.txt filter=lfs diff=lfs merge=lfs -text
Data/sinhala_phrases_filtered.txt filter=lfs diff=lfs merge=lfs -text
Notebooks/DO[[:space:]]NOT[[:space:]]TOUCH/I[[:space:]]SAID[[:space:]]DON'T/LEAVE/RESTRICTED/Pico-GPT[[:space:]]Training/Saved_Model_Weights/*.pth filter=lfs diff=lfs merge=lfs -text
